 h1 {
  text-align: center;
}

.debug p {
  font-size: 20px;
}

img {
  width: 50%;
  padding: 20px;
}
.img-top {
  height: 200px;
}

.background img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 20px;
}
.background {
  margin-top: 50px;
}
.text-align {
  text-align: center;
}
